# SQL Server LocalDB/Express. Para Windows Authentication deixe usuário e senha vazios.
SQLSERVER_SERVER=localhost\SQLEXPRESS
SQLSERVER_DATABASE=CadastroClientes
SQLSERVER_USER=
SQLSERVER_PASSWORD=
# Alternativa: SQLSERVER_DSN=sqlserver://usuario:senha@localhost?database=CadastroClientes&encrypt=disable
APP_ADDR=:8080
