<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- O ARR precisa estar instalado e com o proxy habilitado no IIS. -->
    <rewrite>
      <rules>
        <rule name="Proxy para Go" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8080/{R:1}" logRewrittenUrl="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
